/* MENU SECTION */

.Menu {
    text-align: center; 
    font-size: 4rem;
    margin-top: 2%;
}

.RamenTitle {
    margin-left: 2.2rem;
}

.SmallPlatesTitle {
    margin-top: 5rem;
    margin-left: 2.2rem;
}


.ramenItem {
    width: 18rem;
    border: 2px solid black;
    box-sizing: border-box;
}

/* RAMEN */

.misoRamen {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}

.shioRamen {
    width: 18rem;
    margin-left: 23rem;
    margin-top: -25.97rem;
    border: 2px solid black;
}

.spicyChickenRamen {
    width: 18rem;
    margin-left: 43.6rem;
    margin-top: -26rem;
    border: 2px solid black;
}

.spicyTonkotsuRamen {
    width: 18rem;
    margin-left: 64.5rem;
    margin-top: -26rem;
    border: 2px solid black;
}

.wontonChickenRamen {
    width: 18rem;
    margin-left: 85.6rem;
    margin-top: -26rem;
    border: 2px solid black;
}

.Flavour {
    text-align: center;
}



/* SMALL PLATES */

.edamame {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}
.edamameDescription {
    height: 4.5rem;
}

.salmon {
    width: 18rem;
    border: 2px solid black;
    margin-left: 23rem;
    margin-top: -26.5rem;
}
.salmonDescription {
    height: 4.5rem;
}

.buns {
    width: 18rem;
    border: 2px solid black;
    margin-left: 43.6rem;
    margin-top: -26.4rem;
}
.bunsDescription {
    height: 4.5rem;
}

.gyoza {
    width: 18rem;
    border: 2px solid black;
    margin-left: 64.5rem;
    margin-top: -26.44rem;
}
.gyozaDescription {
    height: 4.5rem;
}

.takoyaki {
    width: 18rem;
    border: 2px solid black;
    margin-left: 85.6rem;
    margin-top: -26.44rem;
}
.takoyakiDescription {
    height: 4.5rem;
}