/* MENU SECTION */

.Menu {
    text-align: center; 
    font-size: 4rem;
    margin-top: 2%;
}

.RamenTitle {
    margin-left: 2rem;
}

.SmallPlatesTitle {
    margin-top: -38rem;
    margin-left: 2rem;
}

/* RAMEN */
.menuRamen1 {
    width: 15%;
    margin: 2rem;
    border: 4px solid black;
    display:block;
}

.menuRamen2 {
    width: 15%;
    margin: 21rem;
    border: 4px solid black;
    margin-top: -17.8rem;
    
}

.menuRamen3 {
    width: 15%;
    margin: 40rem;
    border: 4px solid black;
    margin-top: -36.8rem;
}

/* SMALL PLATES */
.menuEdamame {
    width: 15%;
    margin: 2rem;
    border: 4px solid black;
    margin-top: 2rem;
}

.menuSalmon {
    width: 15%;
    margin: 1rem;
    border: 4px solid black;
    margin-top: 1rem;
}

.menuSteamedBuns {
    width: 15%;
    margin: 2.3rem;
    border: 4px solid black;
    margin-top: 2.1rem;
}