/* MENU SECTION */

.Menu {
    text-align: center; 
    font-size: 4rem;
    margin-top: 2%;
}

.RamenTitle {
    margin-left: 2.2rem;
}

.SmallPlatesTitle {
    margin-top: 5rem;
    margin-left: 2.2rem;
}

/* RAMEN */

.misoRamen {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}

.shioRamen {
    width: 18rem;
    margin-left: 23rem;
    margin-top: -25.5rem;
    border: 2px solid black;
}

.spicyChickenRamen {
    width: 18rem;
    margin-left: 43.6rem;
    margin-top: -25.5rem;
    border: 2px solid black;
}

.spicyTonkotsuRamen {
    width: 18rem;
    margin-left: 64.5rem;
    margin-top: -25.5rem;
    border: 2px solid black;
}

.wontonChickenRamen {
    width: 18rem;
    margin-left: 85.6rem;
    margin-top: -25.5rem;
    border: 2px solid black;
}

.Flavour {
    text-align: center;
}



/* SMALL PLATES */

.edamame {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}

.salmon {
    width: 18rem;
    border: 2px solid black;
    margin-left: 23rem;
    margin-top: -25.5rem;
}

.buns {
    width: 18rem;
    border: 2px solid black;
    margin-left: 43.6rem;
    margin-top: -25.5rem;
}

.gyoza {
    width: 18rem;
    border: 2px solid black;
    margin-left: 64.5rem;
    margin-top: -25.5rem;
}

.takoyaki {
    width: 18rem;
    border: 2px solid black;
    margin-left: 85.6rem;
    margin-top: -25.5rem;
}