.Order {
    text-align: center; 
    font-size: 4rem;
    margin-top: 2%;
}

.container {
    width: 100%;
    height: 100%;
}

/* RAMEN */

.misoRamenOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}

.shioRamenOrder {
    width: 18rem;
    margin-left: 23rem;
    margin-top: -30.13rem;
    border: 2px solid black;
}

.spicyChickenRamenOrder {
    width: 18rem;
    margin-left: 43.6rem;
    margin-top: -30.13rem;
    border: 2px solid black;
}

.spicyTonkotsuRamenOrder {
    width: 18rem;
    margin-left: 64.5rem;
    margin-top: -30.13rem;
    border: 2px solid black;
}

.wontonChickenRamenOrder {
    width: 18rem;
    margin-left: 85.6rem;
    margin-top: -30.13rem;
    border: 2px solid black;
}

/* SMALL PLATES */

.edamameOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 2rem;
}
.edamameDescriptionOrder {
    height: 4.5rem;

}

.salmonOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 23rem;
    margin-top: -30.13rem;
}
.salmonDescriptionOrder {
    height: 4.5rem;
}

.bunsOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 43.6rem;
    margin-top: -30.13rem;
}
.bunsDescriptionOrder {
    height: 4.5rem;
}

.gyozaOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 64.5rem;
    margin-top: -30.13rem;
}
.gyozaDescriptionOrder {
    height: 4.5rem;
}

.takoyakiOrder {
    width: 18rem;
    border: 2px solid black;
    margin-left: 85.6rem;
    margin-top: -30.13rem;
}
.takoyakiDescriptionOrder {
    height: 4.5rem;
}


.btn-primary {
background-color: rgb(43, 41, 41);
}

svg {
    width:30px;
}

.iconCart {
    margin-top: -20rem;
    
}

.iconCart span {
    display:flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}